[Unit]
Description=LUNCH backend
Requires=network.target
After=network.target

[Service]
Type=simple
User=nginx
Group=nginx
WorkingDirectory=/srv/lunch/lunch/server
ExecStart=/usr/bin/node /srv/lunch/lunch/server/server.js

[Install]
WantedBy=multi-user.target
